<div id="footer">
    <div id="fotter-el-content">
        <div id="footer-el-sitemap">
            <a href="">home</a>
            <a href="">my_projects</a>
            <a href="">contacts</a>
            <a href="">blog</a>
        </div>
        <div id="footer-el-side">
            <div id="footer-el-contacts">

            </div>
            <div id="footer-el-logo">
                
            </div>
        </div>
    </div>
    <div id="footer-el-rights">
        <p>2024 © All Rights Reserved</p>
    </div>
</div>