<div id="header">
    <div class="header-el-back ">
        <div class="header-el-back-noise">
        </div>
        <div id="fx-code">
            <div id="fx-code-layer-1" class="fx-element-code content-withd">
        </div>
        </div>
    </div>

    <div class="header-el-content content-withd">
        <div id="logo-pic">
            <img src="https://tse1.mm.bing.net/th?q=blank%20pfp%20tiktok" alt="">
        </div>
        <div id="logo">

            <h1>
                Dionisiu
            </h1>
            <h2>
                Brovka
            </h2>
            <hr>
            <p class="sub_l">
                crossplatform fullstack developer
            </p>
        </div>
    </div>
</div>